<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Example for logging into the build folder of your project -->
    <property name="LOG_FILE" value="${catalina.home}/logs/app/current"/>​
    <property name="ROTATED_LOG_FILE" value="${catalina.home}/logs/app/rotated/logstash"/>​
    <property name="JSON_LOG_FILE" value="${catalina.home}/logs/app/application-logs"/>​
    <property name="EXCEPTION_LOG_FILE" value="${catalina.home}/logs/app/exceptions"/>​
    <property name="ROTATED_EXCEPTION_LOG_FILE" value="${catalina.home}/logs/app/exceptions"/>​
    <property name="REQUESTS_LOG_FILE" value="${catalina.home}/logs/app/requests"/>​
    <property name="ROTATED_REQUESTS_LOG_FILE" value="${catalina.home}/logs/app/rotated/requests"/>​

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Appender to log to console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Appender to log to file -->​
    <appender name="flatfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${ROTATED_LOG_FILE}.%d{yyyy-MM-dd-HH}.%i.log</fileNamePattern>
            <!-- each file should be at most 50MB, will keep at most 10 hours of history or 500MB max -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Appender to log to file -->​
    <appender name="logstashErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${EXCEPTION_LOG_FILE}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${ROTATED_EXCEPTION_LOG_FILE}.%d{yyyy-MM-dd-HH}.%i.json.gz</fileNamePattern>
            <!-- each file should be at most 50MB, will keep at most 10 hours of history or 500MB max -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Appender to log to file -->​
    <appender name="logstashRequestsFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${REQUESTS_LOG_FILE}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${ROTATED_REQUESTS_LOG_FILE}.%d{yyyy-MM-dd-HH}.%i.json.gz</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%message%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    ​
    <!--&lt;!&ndash; Appender to log to file in a JSON format &ndash;&gt;-->
    <appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${JSON_LOG_FILE}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${JSON_LOG_FILE}.%d{yyyy-MM-dd-HH}.%i.json.gz</fileNamePattern>
            <!-- each file should be at most 50MB, will keep at most 10 hours of history or 500MB max -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "service": "${springAppName:-}",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "exportable": "%X{X-Span-Export:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "hostname": "${HOSTNAME:-}",
                        "rest": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <logger name="com.__MY_COMPANY__" level="info"
            additivity="false">
        <appender-ref ref="flatfile"/>
        <appender-ref ref="logstash"/>
    </logger>

    <logger name="exceptionLogger" level="info"
            additivity="false">
        <appender-ref ref="logstashErrorFile"/>
    </logger>

    <logger name="requestLogger" level="info"
            additivity="false">
        <appender-ref ref="logstashRequestsFile"/>
    </logger>

    <root level="info" additivity="false">
        <appender-ref ref="console"/>
    </root>

</configuration>